/* html */
html {
    overflow-x: hidden;
}

body {
    background-color: #FFDFDF;
}

/* navbar */
#submitBtn {
    font-size: 30px;
    padding:none;
    margin:none;
}

#searchInput {
    height:40px;
}

.navbar {
    /* height:60px; */
    background-color: #FFFAFA;
}

.nav-link {
    font-size: 20px;
}
.navbrandimg {
    height:50px;
}

/* jumbotron */

.jumbotron {
    height:500px;
    background-image: linear-gradient(#FFFAFA 60%, #FFDFDF);
}


/* texts */
.heading {
    font-size:70px;
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  margin-top:60px;
}

.jumboheading {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:100px;
}

.jumbocaption {
    font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size:30px;
}

.jumboheadingSm {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:70px;
}

.jumbocaptionSm {
    font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size:20px;
}

/* cards */

.card {
    background-color: rgba(255, 255, 255, 0.548);
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px solid black;
  box-shadow: 0px 0px 5px black;
}

.card-img-top {
    height:260px;
    width:auto;
}

.a {
    
background-color: black;
    color:#ffdfdf;

}

.a:hover {
    background-color: #ffdfdf;
    color:black;
}


