/* html */
html {
    overflow-x: hidden;
}

body {
    background-color: #FFDFDF;
}



/* navbar */
#submitBtn {
    font-size: 30px;
    padding:none;
    margin:none;
}

#searchInput {
    height:40px;
}

.navbar {
    height:60px;
    background-color: #FFFAFA;
}

.nav-link {
    font-size: 20px;
}
.navbar-brand {
    font-size:30px;
    position:relative;
    bottom:3px;
}

/* jumbotron */

.jumbotron {
    height:500px;
    background-image: linear-gradient(#FFFAFA 60%, #FFDFDF);
    /* background-color: white; */
}



/* carousels */

.carousel {
    position:relative;
}

.card {
    background-color: rgba(255, 255, 255, 0.548);
    width:350px;

}

.card-img-top {
    height:300px;
    width:auto;
}

.carousel-control-prev, .carousel-control-next {
    background-color:black;
    width:30px;
    height:30px;
    top:50%;
    transform:translateY(-50%);
}
