/* html */
html {
    overflow-x: hidden;
}

body {
    background-color: #FFDFDF;
}



/* navbar */
#submitBtn {
    font-size: 30px;
    padding:none;
    margin:none;
}

#searchInput {
    height:40px;
}

.navbar {
    height:60px;
    background-color: #FFFAFA;
}

.nav-link {
    font-size: 20px;
}
.navbar-brand {
    font-size:30px;
    position:relative;
    bottom:3px;
}

/* jumbotron */

.jumbotron {
    height:500px;
    background-image: linear-gradient(#FFFAFA 60%, #FFDFDF);
    /* background-color: white; */
}


/* texts */
.heading {
    font-size:70px;
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  margin-top:60px;
}

.navbar-brand {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  font-size:40px;
}

.jumboheading {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:100px;
}

.jumbocaption {
    font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size:30px;
}

.jumboheadingSm {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:70px;
}

.jumbocaptionSm {
    font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size:20px;
}

/* cards */

.card {
    background-color: rgba(255, 255, 255, 0.548);
}

.card-img-top {
    height:260px;
    width:auto;
}


